<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PYC</a>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a *ngIf="hardcodedauthService.isUserLogin()" class="nav-link" routerLink="/welcome/123">Home </a>         
                </li>
                
                <li>
                    <a  *ngIf="hardcodedauthService.isUserLogin()" class="nav-link" routerLink="/todos">Todo</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                <li>
                    <a *ngIf="!hardcodedauthService.isUserLogin()"class="nav-link" routerLink="/login">Login</a>
                </li>
                <li>
                    <a *ngIf="hardcodedauthService.isUserLogin()" class="nav-link" routerLink="/logout">Logout</a>
                </li>
            </ul>
        </div>

    </nav>
</header>