<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PYC</a>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>         
                </li>
                
                <li>
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                <li>
                    <a class="nav-link" href="#">Login </a>
                </li>
                <li>
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>

    </nav>
</header>